@media only screen and (min-width: 960px) {
  .container {
    max-width: 70%;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    overflow: hidden;
  }

  .page-contents {
    display: none !important;
  }
}

/* BLOG */
.hide {
  display: none;
}
.show {
  display: block;
}

$color-primary: #fff;

.posts {
  article.post {
    a.read-more {
      visibility: hidden;
      transform: translateY(20px);
      transition: transform 1s ease;
      display: inline-block;
    }
    &:hover {
      a.read-more {
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
}

.entry {
  ul.archive li:hover a {
    opacity: 0.5;
    background-color: #ffe300;
  }
  hr + ul {
    border: 2px solid #a4afb3;
    padding: 10px 20px;
    margin: 0;
    &:before {
      content: "목차";
      display: block;
      font-size: 1.3rem;
      margin-bottom: 10px;
      border-bottom: 1px solid #a4afb3;
    }
  }
  h2 {
    // visibility: hidden;
    // transform: translateY(5px);
    // transition: transform 0.1s ease;
    // &.show {
    //   visibility: visible;
    //   transform: translateY(0);
    // }
  }
}

.page-contents {
  background: #333;
  &.show + .container {
    padding-top: 40px;
  }
  * {
    color: $color-primary;
  }
  a:hover {
    color: inherit !important;
  }
  nav {
    background: inherit;
    margin: 0;
    float: none;
    height: auto;
    min-height: 3.2rem;
    line-height: 3.2rem;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: right;
    padding: 0 20px;
    z-index: 1;
    a:hover {
      color: red;
      // font-weight: bold;
    }
  }
}

.wrapper-masthead {
  background: #bf80bf;

  position: relative;

  .bubble {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: yellow;
    position: absolute;
    animation: blow 2s linear infinite;
  }

  @keyframes blow {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      filter: hue-rotate(0deg);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -1000%) scale(4);
      filter: hue-rotate(720deg);
    }
  }

  * {
    color: $color-primary;
  }
  a:hover {
    color: inherit !important;
  }
  .container {
    max-width: 90%;
    position: relative;
    height: 100%;
    .masthead {
      position: sticky;
      top: 0;
      border-bottom-width: 0;
      .site-info {
        .site-name {
          font-weight: bold;
        }
        .site-description {
        }
      }
    }
  }
  nav {
    font-size: 21px;
    a {
      display: inline-block;
      height: 50px;
      &:after {
        content: "";
        height: 2px;
        background: #fff;
        transition: transform 0.3s;
      }
      &:hover:after {
        display: block;
        transform: scaleX(1);
        width: 100%;
      }
      &[href="/etc"] {
        display: block;
      }
    }
  }
}

.categories {
  color: #333;
}

// body
body {
  color: #595959;
  &.main {
    h2 {
      position: relative;
      text-align: center;
    }
    h2.title:before,
    h2.title:after {
      content: "";
      display: block;
      width: 38%;
      border-bottom: 1px solid #333;
      position: absolute;
      top: 50%;
    }
    h2.title:before {
      left: 3%;
    }
    h2.title:after {
      right: 3%;
    }
    .wrapper-masthead {
      height: 80vh;
    }
  }
}

// main
.main {
  .post {
    &:hover {
      h1 * {
        color: #4db380;
      }
    }
    h1 {
      margin-top: 0.1em;
      margin-bottom: 0.1em;
      font-weight: normal;

      a:hover {
        color: #4db380;
      }
    }
  }
}

// 컨텐츠
.page > h1,
.post > h1 {
  color: #39a5a5;
}

// posts (메인 목록)
.posts > .post > h1 {
  color: #294f8a;
}

/* dark theme */
body.dark {
  background-color: #092f40;
  font-family: "Arial", "Dotum", sans-serif;
  color: #81959c;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: #81959c;
}
body.dark p {
  color: #81959c;
}
body.dark .site-name a {
  color: #81959c;
}

body.dark span.categories,
body.dark a {
  color: #4b6682;
}
body.dark .site-description {
  color: #81959c;
}
body.dark nav a {
  color: #c7bbbb;
}

body.dark .highlight,
body.dark .wrapper-footer {
  background-color: transparent;
}

body.dark .entry > hr + ul a {
  background: #ececec;
}
