/* BLOG */

// @media only screen and (min-width: 960px) {
//   .container {
//     max-width: 940px;
//   }
// }

// @media only screen and (max-width: 480px) {
//   .container {
//     overflow: hidden;
//   }
//   .archive time {
//     display: block;
//   }
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h3 + h4 {
  margin-top: 0;
}

h3 {
  font-size: 20px;
  color: #4d4e50;
}
h4 {
  font-size: 18px;
  color: #898e92;
}

ol,
ul,
dl {
  margin: 0.5em;
}

// body,
pre,
code {
  font-family: "Nanum Gothic Coding", "Nanum Gothic", "Spoqa Han Sans", self;
}
::selection {
  background: #98a2ad;
}
.wrapper-masthead {
  margin-bottom: 10px;
}

.post > h1 {
  // margin-top: 1em;
  margin-bottom: 1em;
}

.posts > .post {
  padding-top: 1em;
  padding-bottom: 1em;
}

.posts > .post > h1 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.categories {
  color: #333;
}
/* menu */
.wrapper-masthead {
  background: #bf80bf;
  height: 80vh;

  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}
.wrapper-masthead * {
  color: #fff;
}

.wrapper-masthead a {
  // font-weight: bold;
  display: inline-block;
  height: 50px;
}

.wrapper-masthead a:hover {
  color: #fff;
  // font-weight: bold;
}
.wrapper-masthead a:after {
  content: "";
  height: 2px;
  background: #fff;
  transition: transform 0.3s;
}
.wrapper-masthead a:hover:after {
  display: block;
  transform: scaleX(1);
  width: 100%;
}
.wrapper-masthead a[href="/etc"] {
  display: block;
}

/* .wrapper-masthead container */
.wrapper-masthead .container {
  max-width: 90%;
  position: relative;
  height: 100%;
}
.wrapper-masthead .container .masthead {
  position: sticky;
  top: 0;
}

/* article */
article.post > .entry > a.read-more {
  visibility: hidden;
  transform: translateY(20px);
  transition: transform 1s ease;
  display: inline-block;
}

article.post:hover > .entry > a.read-more {
  visibility: visible;
  transform: translateY(0);
}
/* list */
.entry ul.archive li:hover a {
  opacity: 0.5;
  background-color: #ffe300;
}

/* toc */
.entry > hr + ul {
  border: 2px solid #ddd;
  padding: 10px 20px;
  margin: 0;
}
.entry > hr + ul:before {
  content: "목차";
  display: block;
  font-size: 1.3rem;
  text-decoration: underline;
  margin-bottom: 10px;
}
/* menu */
.masthead {
  border-bottom-width: 0;
}
header.masthead:after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #bf80bf;
  transition: width 0.8s ease-out;
}
body.active header.masthead:after {
  width: 100%;
}

.site-name {
  font-weight: bold;
}
.site-description {
}
nav {
  font-size: 21px;
  padding-bottom: 20px;
}
.page > h1,
.page > h2,
.page > h3,
.page > h4,
.page > h5,
.page > h6 {
  color: #39a5a5;
}

/* .categories {
  color: #649857;
  color: #3e7530;
} */

/* dark theme */
body.dark {
  background-color: #092f40;
  font-family: "Arial", "Dotum", sans-serif;
  color: #81959c;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: #81959c;
}
body.dark p {
  color: #81959c;
}
body.dark .site-name a {
  color: #81959c;
}

body.dark span.categories,
body.dark a {
  color: #4b6682;
}
body.dark .site-description {
  color: #81959c;
}
body.dark nav a {
  color: #c7bbbb;
}

body.dark .highlight,
body.dark .wrapper-footer {
  background-color: transparent;
}

body.dark .entry > hr + ul a {
  background: #ececec;
}
