---
layout: page
title: Style
permalink: /menu/style
---

<ul class="archive">
  {% for style in site.categories.style %}
    {% unless style.next %}
      <h2>{{ style.date | date: '%Y' }}</h2>
    {% else %}
      {% capture year %}{{ style.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ style.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2>{{ style.date | date: '%Y' }}</h2>
      {% endif %}
    {% endunless %}

    <li>
      <time>{{ style.date | date: "%Y-%m-%d" }}</time>
      {% if style.link %}
      <a href="{{ style.link }}">
      {% else %}
      <a href="{{ site.baseurl }}{{ style.url }}">
      {% endif %}
        {{ style.title }}
        {{ style.content }}
      </a>
    </li>
  {% endfor %}
</ul>

