---
layout: page
permalink: /list
---

{% for categories in site.categories %}
{% if categories[0] contains '2019' %}
{% else %}
  {% unless categories[0] contains 'TODO' or categories[0] contains 'Diary' %}
  <h2>{{categories[0]}}</h2>

  <ul class="archive">
    {% for c in categories[1] %}
    <li>
        <time>{{ c.date | date: "%Y-%m-%d" }}</time>
        {% if c.link %}
        <a href="{{ c.link }}">
        {% else %}
        <a href="{{ site.baseurl }}{{ c.url }}">
        {% endif %}
          {{ c.title }}
        </a>
    </li>
    {% endfor %}
    </ul>
    {% endunless %}
  {% endif %}
{% endfor %}